*{
    margin: 0px;
    padding: 0px;
}

#page{
    background-color: yellow;
    align-items: center;
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

Link{
         color: wheat;

}

#links{
    background-color: rgb(173, 173, 175);
    height: 4vh;
    
    padding: 8px;
    border-radius: 10px;
}