*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&family=Rubik:wght@500&display=swap');



#page{
    background-color: yellow;
    align-items: center;
    height: 100vh;
    width: 100wh;
}

img{
    height: 150%;
    aspect-ratio: 3;
}
#navbar{
    height: 10vh;
   
    /* background-color: #560219; */
    padding-left: 18px;
    padding-right: 18px;
}

ul{  
       display: flex;
    float: right;
    margin-top: 1%;
}

a{
    padding-right: 3%;
    color: white;
    
    text-decoration: none;

}

a:hover{
    padding-right: 3%;
    color: pink;
    
    text-decoration: none;

}

.lis{
    margin-right: 20px;
    padding: 3px;
    color: white;
    font-family: 'Grandstander', cursive;    
    text-decoration: none;

}

.lis:hover{
    margin-right: 20px;
    padding: 3px;
    color: #560219;
    background-color: white;
    font-family: 'Grandstander', cursive;    
    text-decoration: none;
    border-radius: 10px;
}

li{
margin-right: 40px;;
}

#get_started{
    height: 93vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#links{
    background-color: rgb(173, 173, 175);
    width: 10wh;
    /* height: 4vh;
    
    padding: 8px;
    border-radius: 10px; */
}

#todo-title{
    font-size: 3rem;
    margin-bottom: 30px;
    background-color: transparent;

}
button{

    padding: 10px;
    background-color: #560219;
    border-radius: 20px;
    width: 10%;
    border-color: white;
    font-family: 'Grandstander', cursive;    
    
}